@import 'base/colors';
@import 'base/typography';
@import url("https://use.typekit.net/lvq2bfk.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $white;
  color: $black;
  font-family: 'neue-kabel', sans-serif;
  font-size: 16px;
  font-weight: 400;
  overflow: hidden;
}

img {
  max-width: 100%;
}

button {
  background: $red;
  border: none;
  border-radius: 2em;
  color: $white;
  cursor: pointer;
  font-size: clamp(.75em, 2vw, 1.2em);
  font-weight: 900;
  margin-top: .5em;
  min-width: 10em;
  padding: 1em 2em;
}

// layout

.o-grid {
  background: $white;
  display: grid;  
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(12, 1fr);
  height: 100vh;
  position: absolute;
  width: 100vw;
}

// title

.c-title {
  gap: 0;
  background: none;
  backdrop-filter: blur(.75em);
  box-shadow: 
  0 0 4em black;

  &__logo {
    background: $red;
    display: grid;
    grid-column: 1/ span 13;
    grid-row: 1 / span 8;
    translate: 0 0 -2px;

    &--container{
      place-self: center;
      width: fit-content;

      img {
        width: 30vw;
      }
    }
  }

  &__copy {
    align-items: center;
    background: $white;
    box-shadow: 
    0 0 2em black;
    display: flex;
    flex-direction: column;
    grid-column: 1 / span 13;
    grid-row: 9 / span 4;
    height: 100%;
    justify-content: center;
    padding: 0 4vw;
    position: relative;
    translate: 0 0 1px;
    transform-style: preserve-3d;
    text-align: center;
    width: 100%;
    z-index: 2;

    .c-rules {
      background: $white;
      box-shadow: 
        0 0 1em black;
      inset: auto 12vw 33vh 12vw;
      padding: 2em;
      position: absolute;
      text-align: left;
      translate: 0 200vh -1px;
      transition: translate 1s;
      z-index: 1;
  
      &--close {
        cursor: pointer;
        inset: 2em 2em auto auto;
        position: absolute;
        transition: all 1s;
        z-index: 2;
  
        h4 {
          border-radius: 100vw;
          height: 1.25em;
          line-height: 1.25;
          margin: 0;
          text-align: center;
          transition: all .5s;
          width: 1.25em;
        
          &:hover {
            background: darken($white, 10%);
            border-radius: 100vw;
            color: $red;
            transition: all .5s;
          }
        }
      }
    }
    .js-rules--open {
      translate: 0 0 -1px;
      transition: translate 1s;
      z-index: -1;
    }
  }

  .js-container-lg {
    z-index: 1;
      &:before {
        box-shadow: 
        0 0 4em black;
        content: '';
        inset: 0;
        position: absolute;
        z-index: -1;
      }
  }

  .js-container-sm {
    z-index: 0;
    &:before {
      box-shadow: 
      0 0 4em black;
      content: '';
      inset: 0;
      position: absolute;
      z-index: -1;
    }
  }

  .c-info {
    color: $black;
    cursor: pointer;
    inset: auto 1em 1em auto;
    position: absolute;
    z-index: 3;

    h4 {
      border-radius: 100vw;
      height: 1.25em;
      line-height: 1.25;
      margin: 0;
      text-align: center;
      transition: all .5s;
      width: 1.25em;
    
      &:hover {
        background: darken($white, 10%);
        border-radius: 100vw;
        color: $red;
        transition: all .5s;
      }
    }
  }

  .js-hidden {
    display: none;
    transition: all 1s;
  }
}

// game

.c-game {
  background: $white;
  height: 100vh;
  overflow: hidden;
  text-align: center;

  .o-players__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
  }

  .o-player {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    justify-self: start;
    writing-mode: vertical-rl;

    h2 {
      font-size: 9.5vh;
      text-align: left;
    }
  }

  .o-score__container {
    align-self: end;
    grid-column: 2 / span 2;
    grid-row: 1 / span 1;
    margin: 0 auto;

    p {
      background: $black;
      border-radius: 2em;
      color: $white;
      font-size: clamp(2.5em, 15vw, 5.5em); // clamp(2.5em, 15vw, 3em)
      font-weight: 900;
      text-align: center;
      width: 2em;
    }

    h3 {
      text-align: center;
    }
  }

  .o-current__container {
    align-self: center;
    grid-column: 2 / span 2;
    grid-row: 2 / span 1;
    margin: 0 auto;
    
    p {
      border: 5px solid $black;
      border-radius: 2em;
      color: $black;
      font-size: clamp(2em, 10vw, 4em);
      font-weight: 900;
      text-align: center;
      width: 2em;
    }

    h4 {
      text-align: center;
    }
  }

  .c-player__0 {
    grid-column: 1 / span 13;
    grid-row: 1 / span 4;
  }

  .c-player__1 {
    grid-column: 1/ span 13;
    grid-row: 9 / span 4;
    height: 100%;
  }
  
  .c-die {
    background: $red;
    box-shadow: 
    0 0 .2em black,
    0 0 2em black;
    display: grid;
    grid-column: 1 / span 13;
    grid-row: 5 / span 4;
    grid-template-columns: .25fr 2fr 2fr .25fr;
    grid-template-rows: .5fr 2fr 1fr .5fr;
    gap: 2%;
    justify-items: center;

    img {
      width: clamp(12em, 100%, 15em);
    }

    &__blk {
      grid-column: 2 / span 1;
      grid-row: 2 / span 1;
    }

    &__wht {
      grid-column: 3 / span 1;
      grid-row: 2 / span 1;
    }

    &__roll {
      grid-column: 2 / span 1;
      grid-row: 3 / span 1;
    }

    &__hold {
      grid-column: 3 / span 1;
      grid-row: 3 / span 1;
    }

    &--roll {
      background: $white;
      color: $red;
      transition: background .5s;

      &:hover {
        background: darken($white, 15%);
        transition: background .5s;
      }
    }

    &--hold {
      background: $black;
      color: $white;
      transition: background .5s;

      &:hover {
        background: lighten($black, 15%);
        transition: background .5s;
      }
    }
  }

  .js-active {
    background: $red;
    height: 100%;
    width: 100%;
  }
}

// final

.c-final {
  row-gap: 1em;

  &__logo {
    align-items: center;
    background: $red;
    display: grid;
    grid-column: 1/ span 13;
    grid-row: 1 / span 9;
    justify-content: center;

    &--container{
      place-self: center;
      width: fit-content;

      img {
        width: 30vw;
      }

      h1 {
        color: $white;
      }
    }
  }

  &__copy {
    grid-column: 1 / span 13;
    grid-row: 10 / span 3;
    place-self: center;
    text-align: center;
  }
}

.js-start {
  animation: startgame 1s ease-in-out forwards;
}

@keyframes startgame {
  to {
    backdrop-filter: blur(0);
    display: none;
  }
}

// js/css animations

.js-container-lg {
  animation: startlg 1s ease-in-out forwards;
}

.js-container-sm {
  animation: startsm 1s ease-in-out forwards;
}

@keyframes rules {
  0% {
    translate: 0 100vh;
  }
  100% {
    translate: 0 5vh;
  }
}

@keyframes startlg {
    0% {
      translate: 0 0;
    }
    100% {
      display: none;
      translate: 0 -90vh;
    }
  }

  @keyframes startsm {
    0% {
      translate: 0 0;
    }
    100% {
      display: none;
      translate: 0 50vh;
    }
  }

  .js-hidden {
    display: none;
    transition: all .5s;
  }

@media screen and (min-width: 600px) {
  .c-game {
    .o-players__grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr 1fr .25fr;
    }

    .o-player {
      grid-column: 1 / span 3;
      grid-row: 1 / span 1;
      justify-self: center;
      writing-mode: horizontal-tb;

      h2 {
        font-size: 16vw;
        text-align: center;
      }
    }

    .o-score__container {
      align-self: center;
      grid-column: 1 / span 2;
      grid-row: 2 / span 1;
      margin: 0 auto;
    }

    .o-current__container {
      align-self: center;
      grid-column: 2 / span 2;
      grid-row: 2 / span 1;
      margin: 0 auto;
    }
  }
}

@media (orientation: landscape){
  
  // title

  .c-title, .c-final {
    gap: 0;

    &__logo {
      background: $red;
      display: grid;
      grid-column: 1 / span 10;
      grid-row: 1 / last-line;

      &--container{
        place-self: center;
        width: fit-content;

        img {
          width: 15vw;
        }
        h1 {
          font-size: 9vw;
        }
      }
    }

    &__copy {
      grid-column: 11 / last-line;
      grid-row: 1 / last-line;
      padding: 0 1vw;
      place-self: center start;

      h3 {
        font-size: 2.5vw;
      }
    }
  }

  .c-title {
    &__copy {
      box-shadow: 
        0 0 2em black;
        translate: 0 0 2px;
      }

    .c-rules {
      box-shadow: 
        0 0 1em black;
      height: fit-content;
      inset: 50% 15vw 50% 45vw;
      padding: 2em 10vw 2em 2em;
      transform: translateY(-50%);
      translate: 100vw 0 1px;
      transition: translate 1s;
      width: 50vw;


      &--close {
        inset: 2em calc(2em + 10vw) auto auto;
      }
    }

    .js-rules--open {
      opacity: 1;
      translate: -90vw 0 -1px;
      transition: translate 1s, opacity .25s;
    }
  }

  // game

  .c-game {

    h3, h4 {
      text-align: center;
      margin-top: .5vw;
    }

    h3 {
      font-size: 3.5vw;
    }

    h4 {
      font-size: 2vw;
    }

    .o-players__grid {
      grid-template-rows: repeat(3, 1fr);
    }

    .o-player {
      grid-column: 1 / last-line;
      grid-row: 1 / span 1;

      h2 {
        font-size: 11vw; // clamp(3em, 11vw, 3.4em)
      }
    }

    .o-score__container {
      align-self: end;
      grid-column: 2 / span 1;
      grid-row: 2 / span 1;
      margin: 0 auto .5em auto;

      p {
        margin: 0 auto;
      }
    }

    .o-current__container {
      grid-column: 2 / span 1;
      grid-row: 3 / span 1;
      margin: .5em auto 0 auto;
      
      p {
        margin: 0 auto;
      }
    }

    .c-player__0 {
      grid-column: 1 / span 5;
      grid-row: 1 / last-line;
      justify-self: end;

      h2 {
        text-align: right;
      }
    }

    .c-player__1 {
      grid-column: 9 / span 5;
      grid-row: 1 / last-line;
      justify-self: start;
      
      h2 {
        text-align: left;
      }
    }
    
    .c-die {
      grid-column: 6 / span 3;
      grid-row: 1 / last-line;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: .5fr 1fr 1fr .5fr .5fr .5fr;

      img {
        width: clamp(10em, 80%, 19em);
      }

      &__blk {
        align-self: end;
        grid-column: 1 / span 2;
        grid-row: 2 / span 1;
      }

      &__wht {
        grid-column: 1 / span 2;
        grid-row: 3 / span 1;
      }

      &__roll {
        align-self: end;
        grid-column: 1 / span 2;
        grid-row: 4 / span 1;
      }

      &__hold {
        align-self: start;
        grid-column: 1 / span 2;
        grid-row: 5 / span 1;
      }
    }
  }

  // final

  .c-final {
    &__copy {
      grid-row: 1 / last-line;

      h3 {
        font-size: clamp(2.5em, 2.5vw, 8em);
      }
    }
  }

  @keyframes startlg {
    0% {
      translate: 0 0;
    }
    100% {
      display: none;
      translate: -120vw 0;
    }
  }

  @keyframes startsm {
    0% {
      translate: 0 0;
    }
    100% {
      display: none;
      translate: 50vw 0;
    }
  }
}

@media screen and (max-height: 540px) {
  // title

  .c-title {

    &__logo {

      &--container{
        padding-top: 5vw;
        place-self: start center;
      }
    }
  }

  // game

  .c-game {
    
    .o-player {
      grid-column: 1 / last-line;
      grid-row: 1 / span 1;

      h2 {
        font-size: 8vw; // clamp(3em, 11vw, 3.4em)
      }
    }

    .o-score__container {

      p {
        font-size: 4.5em;
      }
    }

    .o-current__container {
      
      p {
        font-size: 3em;
      }
    }
    
    .c-die {

      img {
        width: clamp(8em, 70%, 19em);
      }
    }
  }
}