.c-instructions
  .c-instructions--close.js-instructions--close
    h4 &#x2715;
  h4 Rules: 
  ol 
    li Two dice are rolled.  The sum is added to the players current score.
    li If a single 1 is rolled, player scores nothing and turn ends.
    li If two 1s are rolled, player’s totle score is reduced to 0 and turn ends.
    li If a double is rolled, the point total is added to the turn total as with any roll but the player is obligated to roll again.
    li First player to 100 point wins.