section.o-grid.c-title.js-title
  .c-title__logo.js-title__logo
    .c-title__logo--container
      img(src="images/logo.svg", alt="")
      h1 Whole 
        br
        |  Hog
  .c-title__copy.js-title__copy
    h3 Are you all in?
    button.js-btn--start Start Game
    .c-rules.js-rules
      .c-rules--close.js-instructions--close
        h4.js-close &#x2715;
      include ../blocks/instructions
  .c-info.js-info
    h4 &#x2139;