section.o-grid.c-final.js-final.js-hidden
  .c-final__logo 
    .c-final__logo--container 
     img(src="images/logo.svg", alt="")
     h1 Player
      br
      span.js-winner Two 
      br
      | Wins!
  .c-final__copy 
    h3 New Game?
    button.js-btn--new New Game